@import 'styles/settings.scss';

.side-button {
  background-color: $midnight-blue;
  border: none;
  cursor: pointer;

  i {
    color: $clouds;
    font-size: 1.5rem;
  }
}

.navbar {
  box-sizing: border-box;
  background-color: $midnight-blue;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.navbar-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.navbar-container-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-container-item {
  display: inline-block;
  text-decoration: none;
  color: $clouds;
  padding: 10px;
  font-size: 16px;
}

.navbar-container-item__logo {
  display: flex;
  align-items: center;
}

.navbar-container-item.active {
  background-color: $wet-asphalt;
}

.side-menu__item--button {
  border: none;
  color: $clouds;
  background-color: $wet-asphalt;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.side-menu-container {
  background-color: $wet-asphalt;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1010;
}

.side-menu-container.active {
  left: 0;
  transition: 300ms;
}

.side-menu-items {
  width: 100%;
  padding: 15px;
}

span {
  margin-left: 16px;
}

.side-menu__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 50px;
}

.side-menu__item a {
  text-decoration: none;
  color: $clouds;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: $radius-element;
}

.side-menu__item a.active {
  background-color: $midnight-blue;
}

.side-menu__item a:hover {
  background-color: $midnight-blue;
}

.side-bar-text {
  color: $white;
}

@media (max-width: 600px) {
  .navbar-container-options {
    display: none;
  }
}
