@import 'styles/settings.scss';

.pagination {
  padding-left: 5px;
}

.pagination__button {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: $radius-element;
  background-color: $white;
}

.pagination__button--active {
  background-color: $pomegranate;
  color: $white;
}
