@import 'styles/settings.scss';

// * {
//   border: 1px solid red;
// }

.detail-container {
  margin-top: 30px;
  padding-top: 40px;
  width: 100%;
  background: $white;
  min-height: 150px;
  border-radius: $radius-container;
  background-color: $wet-asphalt;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.detail-container-title {
  display: block;
  color: $clouds;
  padding-left: 20px;
}

.detail-container-options {
  display: flex;
  padding: 0px 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  .bi-arrow-left-circle-fill,
  .bi-heart {
    color: $white;
    font-size: 40px;
    cursor: pointer;
  }

  .like-icon-2 {
    font-size: 40px;
    cursor: pointer;
    color: $alizarin;
  }
}

.inner-detail-container {
  width: 100%;
  min-height: 150px;
  border-radius: $radius-container;
  background-color: $white;
  padding: 20px;
  padding-top: 120px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.inner-detail-image {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -90px;
  left: 0;
  right: 0;
  text-align: center;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: center;
}
