@import '~bootstrap-icons/font/bootstrap-icons';
@import './settings.scss';

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding-top: 50px;
  background-color: $clouds;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  margin: auto;
  max-width: 900px;
}

.title {
  padding-left: 10px;
}
