$font-family: 'Roboto', 'san Serif';
$radius-container: 20px;
$radius-element: 8px;

$white: #fff;
$midnight-blue: #2c3e50;
$wet-asphalt: #34495e;
$pomegranate: #c0392b;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$turcoise: #1abc9c;
$green-sea: #16a085;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$peter-river: #3498db;
$belize: #2980b9;
$emerald: #2ecc71;
$nephritis: #27ae60;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$cyanite: #0abde3;
$jigglypuff: #ff9ff3;
$full-town: #576574;

$font-bold: 700;
