@import 'styles/settings.scss';

.bar-container {
  background-color: $clouds;
  border-radius: $radius-element;
  overflow: hidden;
}

.bar-container__bar {
  background-color: $emerald;
  height: 24px;
}

.bar-container__bar--Attack {
  background-color: $pomegranate;
}

.bar-container__bar--Defense {
  background-color: $peter-river;
}

.bar-container__bar--Special-Attack {
  background-color: $sun-flower;
}

.bar-container__bar--Special-Defense {
  background-color: $turcoise;
}

.bar-container__bar--Speed {
  background-color: $wet-asphalt;
}
