@import '../../../styles/settings.scss';

.card {
  position: relative;
  background-color: #fff;
  border-radius: $radius-container;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card .img-container {
  //   background-color: rgba(255, 255, 255, 0.6);
  background-color: #eee;
  border-radius: 50%;
  margin-top: 20px;
  width: 120px;
  height: 120px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.card-title {
  font-weight: 700;
}

.badged {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  background-color: $clouds;
  border-radius: 8px;
  margin-right: 4px;
}

.grass {
  background-color: $emerald;
  color: $white;
}

.poison {
  background-color: $wisteria;
  color: $white;
}

.fire {
  background-color: $alizarin;
  color: $white;
}

.water {
  background-color: $peter-river;
  color: $white;
}

.bug {
  background-color: $turcoise;
  color: $white;
}

.flying {
  background-color: $belize;
  color: $white;
}

.electric {
  background-color: $sun-flower;
  color: $white;
}

.ground {
  background-color: $pumpkin;
  color: $white;
}

.fairy {
  background-color: $jigglypuff;
  color: $white;
}

.fighting {
  background-color: $midnight-blue;
  color: $white;
}

.psychic {
  background-color: $orange;
  color: $white;
}

.rock {
  background-color: $wet-asphalt;
  color: $white;
}

.ice {
  background-color: $cyanite;
  color: $white;
}

.ghost {
  background-color: $full-town;
  color: $white;
}

.like-icon {
  position: absolute;
  color: $pomegranate;
  top: 15px;
  right: 15px;
  font-size: 30px;
}
