@import 'styles/settings.scss';

.card {
  position: relative;
  background-color: $white;
  border-radius: $radius-container;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.card .img-container {
  background-color: $clouds;
  border-radius: 50%;
  margin-top: 20px;
  width: 120px;
  height: 120px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.card-title {
  font-weight: $font-bold;
}

.badged {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  background-color: $clouds;
  border-radius: $radius-element;
  margin-right: 4px;
}
